POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_secure_password

ELASTIC_USER=elastic
ELASTIC_PASSWORD=your_elastic_password

RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password
