POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_secure_password

RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password

JWT_ISSUER=JiraLite.Identity
JWT_AUDIENCE=JiraLite
JWT_SECRET=ThisIsASuperSecretKeyForJwtTokenGeneration123!
